<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="new 1.css">
<head>
    <title>History</title>
</head>
<body>
<h1>History</h1>

    <div>
        <div class="">
            <p> • Manchester City are a football club in Manchester, England, founded in 1880.
                <br>
                <br>
                • City gained their first honours by winning the Second Division in 1899; with it came promotion to the
                highest level in English football, the First Division.
                <br>
                <br>
                • In the 1930s, Manchester City reached two consecutive FA Cup finals.
                <br>
                <br>
                • During the 1934 cup run, Manchester City broke the record for the highest home attendance of any club
                in English football history, as 84,569 fans packed Maine Road.

                <br>
                <br>
            <p> The 1956 final, in which Manchester City beat Birmingham City 3–1, is one of the most famous finals of
                all-time, and is remembered for City goalkeeper Bert Trautmann continuing to play on after unknowingly
                breaking his neck. </p>
            <center><img align="top" src="emblem.png" alt="emblem" width="41%" height="40% "></center>
        </div>
        <div>
            <span style="float:right; width:40%">• League Champions 1936-37, 1967-68, 2011-12, 2013-14</span>
            <br>
            <span style="float:right; width: 55%">• European Cup Winners Cup 1970</span>
            <br>
            <span style="float:right; width: 46%">• FA Cup Winners 1904, 1934, 1956, 1969, 2011 </span>

        </div>
    </div>

</body>
</html>