<section class="no-border-bottom">
    <div class="container">
        <header class="section-header">
            <span>Кои сме ние</span>
            <h2>Нашият екип</h2>

        </header>

        <div class="row equal-blocks">

            <!-- User widget -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="card user-widget">
                    <div class="card-block text-center">
                        <a th:href="@{/profile/19}"><img src="/img/rosi.jpg" alt="avatar"/></a>
                        <h5><a th:href="@{/profile/19}">Росица Деянова</a></h5>
                        <p class="lead">Front-end developer</p>
                        <br/>
                        <p class="text-justify">
                        <blockquote> Уеб дизайнер<br/>Приключенец</blockquote> </p>
                    </div>

                    <div class="card-footer">
                        <ul class="social-icons">
                            <li><a class="twitter" th:href="@{https://www.facebook.com/rosi.deyanova}"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="instagram" th:href="@{https://www.instagram.com/rosi.deyanova/}"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END User widget -->

            <!-- User widget -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="card user-widget">



                </div>
            </div>
            <!-- END User widget -->

            <!-- User widget -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="card user-widget">
                    <div class="card-block text-center">
                        <a th:href="@{/profile/15}"><img src="/img/adem.jpg" alt="avatar"/></a>
                        <h5><a th:href="@{/profile/15}">Адем Црънчалиев</a></h5>
                        <p class="lead">Back-end developer</p>
                        <br/>
                        <p class="text-justify"> <blockquote> Програмист<br/>Танцьор<br/> </blockquote></p>
                    </div>

                    <div class="card-footer">
                        <ul class="social-icons">
                            <li><a class="twitter" th:href="@{https://www.facebook.com/adem.tcranchaliev}"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="instagram" th:href="@{https://www.instagram.com/ademski34/}"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END User widget -->

        </div>

    </div>
</section>